* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.page1{
    height: 100vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
}
.nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom:  1px solid #222222;
}
.nav img{
    height: 20px;
    width: 30%;
}
.nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
.nav i{
    width: 30%;
    text-align: right;
}
